.marinate-message-close {
    top: 2.5%;
    right: 1px;
    position: relative;
    float: right;
    border: none;
}
.marinate-notice {
    border: none;
}
.about-wrap {
    max-width: 80%;
}

.about-wrap h1 {
    display: block;
    width: 100%;
	font-weight:300;
    font-size: 38px;
    font-weight: 300;
}

.welcome-description-wrap {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}
.editorial-screenshot {
    margin: 0 10px 20px 10px;
    width: 47%;
    float: left;
}
.about-wrap img {
    margin: 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.welcome-description-wrap div.about-text {
    margin: 20px 10px;
    width: 47%;
    float: left;
}

.welcome-description-wrap div.marinate-screenshot {
    width: 50%;
    float: right;
}
.welcome-description-wrap div.marinate-screenshot img {
background-color:#fff;
padding:10px;
border-radius:4px;
}
.tab-only-wrapper .contentsection-wrap {
background-color:#ffffff;
padding:35px;
line-height:1.6em;
}
.nav-tab {
    float: left;
    border: 0px solid #ccc;
    border-bottom: none;
    margin-left: 0;
    padding: 15px 40px !important;
    font-size: 14px;
    line-height: 24px;
    background: none;
    color: #555;
	font-size:20px;
	font-weight:400;
}
.nav-tab-active:hover,
.nav-tab-active {
background-color:#fff;
}
.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
border:none;
margin-bottom:0px;
}
.about-wrap .point-releases {
margin-top:0px;
}
.wrap table {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.wrap table th {
    background-color: #7d7a7a;
    width: 33%;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.wrap table th:first-child {
    background-color: rgba(0, 0, 0, 0.03);
}
.wrap table th:last-child {
    background-color: #55B555;
}
.about-wrap table .table-feature-title > h3 {
    color: #404040;
}
.wrap table th h3 {
    color: #fff;
    margin: 15px;
}
.about-wrap h3 {
    margin: 1.25em 0 .6em;
    font-size: 1.4em;
    line-height: 1.5;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.about-wrap table td h3 {
    font-size: 17px;
    margin: 20px;
    padding-left: 20px;
    text-align: left;
}
tr:nth-child(2n) {
    background-color: #e9e9e9;
}
.wrap table td .dashicons.dashicons-no {
    color: #CE2D2D;
}
.wrap table td .dashicons.dashicons-yes {
    color: #24B37E;
}

h3.marinate-pro-header a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.theme-browser {
    margin-top: 15px;
}
.tab-only-wrapper .theme-browser .theme {
width:29%;
}

.tab-only-wrapper .theme-browser .theme .theme-actions, 
.tab-only-wrapper .theme-browser .theme.active .theme-actions {
    right: 30%;
}

table tr .btn-wrapper .button {
    background-color: #55B555;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    padding: 27px 0;
    width: 90%;
	border:none;
	margin-right:20px;
}

table tr .btn-wrapper {
    padding: 10px 0;
}

table tr .btn-wrapper .button:hover {
    background: #097282 none repeat scroll 0 0;
    color: #fff;
}